
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: #395a85;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

header img {
  width: 10rem;
  margin-left: 0.5rem;
  padding: 0.5rem 0;
}

header nav ul{
  display: flex;
  font-size: 1.4rem;
}

header nav ul li{
  list-style: none;
  font-size: 1em;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem; 
    padding: 2.4rem;
    transition: all 250ms linear 0s;
  }

main{
    margin-bottom: 80px;
    margin-top: 80px;
}

.buttons{
  width: 90%;
  max-width: 980px;
  margin: auto;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-around;
  margin-top: 50px 
  
  
}

.buttom{
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

.content{
  margin: 20px;
}

.postTitulo{
  margin-bottom: 20px;
}


.rodape{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "cpr idnt";
      text-align: center;
      align-content: 0;
  }
  
footer{
      position: absolute;
      font-family: 'Raleway','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background: #395a85;
      color: whitesmoke;
      bottom: 0;
      width: 100%;
      
  }
  


@media (max-width: 768px) {
    html{
      font-size:50%;
    }
  }

@media (max-width: 596px) {
  html{
       font-size:45%;
    }
  header img {
      width: 8rem;
  }
}

@media (max-width: 538px) {
  html{
       font-size:40%;
    }
  header img {
      width: 6rem;
  }
}

@media (max-width: 470px) {
  html{
      font-size:35%;
  }
  header img {
    width: 5rem;
  }
}

@media (max-width: 380px) {
  html{
      font-size:35%;
  }
  header img {
    width: 3rem;
  }
}


@media (max-width: 321px) {
  html{
      font-size:25%;
  }
  header img {
    width: 5rem;
  }
}