.cabeca{
    display: grid;
    grid-template-columns: 16% 25% 9%;
    text-align: center;
    grid-template-areas: "logo nome ufr";
    justify-content: center;
    align-content: space-around;
    grid-gap: 25%;
    
}

.rodape{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cpr idnt";
    text-align: center;
    margin-top: 1vw;
}

header{
    background: whitesmoke;
    grid-area: header;
    color: rgb(38, 38, 151);
    border-radius: 5px;
    text-align: center;

}

header > img{
  align-items: center;
  margin-top: 50%;
}

main{
    grid-area: main;
    background: rgb(21, 26, 36) ;
    width: 30%;
    height: 75%;
    align-self: center;
    border: 5% solid transparent;
    border-radius: 15px;
    justify-self: center;
    }

.conteudo{
    display: grid;
    grid-template-areas:"post"
                         "post"
                         "post";
    align-content: center;
    justify-content: center;                    
 
}

.conteudo > div{
    align-self: center;
    justify-self: center;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    height: 90%;
    cursor: pointer;
    margin: 5px;
}

aside{
    background: lightgoldenrodyellow;
    grid-area: aside;
}

footer{
    font-family: 'Raleway','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: cadetblue;
    grid-area: footer;
    color: whitesmoke;
    
}







