p#titulo{     
    font: bold 20px 'Poiret One' ;
    color: midnightblue;
    margin: 1%;
    margin-right: 25%;
}

p#subtitulo{
    font: 15px 'Poiret One';
    color: lightslategray;
    margin: 1%;
    margin-right: 20%;
}

p#postTitle{
    padding-left: 5px;
    font: bold 20px "Poiret One";
    color: black;
    margin: auto;
    margin-top: 15px;
}

p#post{
    padding-left: 5px;
    padding-bottom: 5px;
    font: normal 15px "Raleway";
    color: gray;
}

