a:link 
{ 
 text-decoration:none; 
} 

p#titulo{     
    font: bold 2rem 'Poiret One' ;
    color: rgb(255, 255, 255);
    margin: 1%;
}

p#subtitulo{
    font: 1.5rem 'Poiret One';
    color: rgb(213, 221, 230);
    margin: 1%;
}

.postTitle{
    padding-left: 0.5rem;
    font: bold 2rem "Poiret One";
    color: black;
    margin: auto;
    margin-top: 1.5rem;
}

.post{
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font: normal 1.5rem "Raleway";
    color: darkgray;
}

